<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="dashboard" href="/tabs/dashboard">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="transactions" href="/tabs/transactions">
      <ion-icon name="list-outline"></ion-icon>
      <ion-label>Movimenti</ion-label>
    </ion-tab-button>

    <ion-tab-button class="tab-add" href="/tabs/add-transaction">
      <ion-icon name="add-circle" color="primary"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="budgets" href="/tabs/budgets">
      <ion-icon name="wallet-outline"></ion-icon>
      <ion-label>Budget</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings" href="/tabs/settings">
      <ion-icon name="settings-outline"></ion-icon>
      <ion-label>Altro</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
